body {
  background-color: #303030;
  padding: 0;
  margin: 0;
}
#rightside {
  width: 33.33vw;
  position: absolute;
  left: 0;top:0;bottom:0;right:50vw;
}
#right-leftside {
  width: 33.33vw;
  position: absolute;
  left: 33.333vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
#leftside {
  width: 33.33vw;
  position: absolute;
  right: 0;
  margin: 0;padding:0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}



#users {
  padding: 0;
  background-color: #383838;
  width: 25vw;
  margin-left: 10vh;
  height: 55vh;
  margin-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#users .user {
  background-color: #383838;
  font-family: monospace;
  color: #888;
  display: block;
  padding: 0;
  margin: 0;
  width: 25vw;
  height: 19px;
  font-size: 15px;
}

.user_header {
  display: inline;
  background-color: #383838;
  margin-bottom: 0;
  margin-top: 10vh;
  width: 25vw;
  margin-left: 10vh;
  text-align: center;
  font-size: 17px;
  color: #aaa;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

}

ol#users { counter-reset: item; }
ol#users li { display: block; }
ol#users li:before {
    content: counter(item) ". ";
    counter-increment: item;


}
ol#users li:nth-child(even) {
  background-color: rgba(43, 43, 43, 0.3);
  color: #bfbfbf;
}
ol#users li:nth-child(odd) {
  background-color: rgba(89, 89, 89, 0.3);
  color: #a6a6a6;
}

.link-button {
  width: 25vw;
  height: 10vh;
  text-decoration: none;
  border-radius: 2px;
  margin: 1.25vh 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #111;
  font-size: 1.5em;
  margin-left: 10vh;
}
.link-button:active {
  background-color: #35a76a;
  margin-bottom: 0;
  border-top: 5px solid #303030; /* Well it is cheating a little, and does sacrifice a little flexability */
}
.start {
  background-color: #49c583;
}




#progess-label {
  min-height: 25px;
  margin: 10vh 0 0 0;
  text-align: center;
  display: flex;
  padding: 2px 0;
  align-items: center;
  font-family: monospace;
  width: 25vw;
  font-size: 22px;
  color: #aaa;
  background-color: #161616;

}
#progress-box {
  overflow-y: auto;
  min-height: 25vh;
  max-height: 25vh;
  margin-bottom: 2.25vh;
  background-color: #191919;
  border: 2px solid #111;
  width: 25vw;
  margin-top: 15px;
}

#progress-box p {
  margin: 0 5px 0 5px;
  color: #296a3c;
  word-break: break-all;
}

#settings {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 1.125vw;
  background-color: #878787;
  border: 2px solid #5b5b5b;
  border-radius: 2px;
  width: 25vw;
  padding-bottom: 8px;
}
#settings-label {
  top: 5px;
  position: sticky;
  font-family: sans-serif;
  margin: 5px 0 15px 0;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting {
  margin: 0 10%;
}

#settings .input-number {
  color: #ccc;
  width: 75px;
  background-color: rgba(0,0,0,0.5);
  border: rgba(0,0,0,0.2) 3px solid;

}
input[type=number]::-webkit-inner-spin-button {
  opacity: 0.45;
}
